*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'system-ui', sans-serif;
  height: 100vh;
  overflow: hidden;
}

img {
  image-rendering: crisp-edges;
}